<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.emby.embyatv">

    <uses-permission android:name="com.android.vending.BILLING"
        tools:node="remove"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />


    <application>
        <activity
            android:name=".startup.StartupActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <receiver android:name = "com.amazon.device.iap.ResponseReceiver" >
            <intent-filter>
                <action android:name = "com.amazon.inapp.purchasing.NOTIFY"
                    android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
