.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
MediaBrowserTv/app/manifest-merger-release-report.txt
MediaBrowserTv/app/app-release.apk
AdbConnect - Fire.bat
AdbConnect Shield.bat
*.xml
