<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.emby.embyatv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".TvApp"
        android:banner="@drawable/app_icon"
        android:icon="@drawable/logoicon512"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".browsing.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".startup.StartupActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.ConnectActivity"
            android:label="@string/title_activity_connect"></activity>
        <activity
            android:name=".startup.SelectUserActivity"
            android:label="@string/title_activity_select_user"></activity>
        <activity
            android:name=".playback.PlaybackOverlayActivity"
            android:label="PlaybackOverlayActivity"></activity>
        <activity android:name=".browsing.GenericFolderActivity" />
        <activity android:name=".browsing.UserViewActivity" />
        <activity android:name=".startup.SelectServerActivity" />
        <activity android:name=".browsing.CollectionActivity" />
        <activity android:name=".startup.ExpiredActivity" />
        <activity android:name=".browsing.ByLetterActivity" />
        <activity android:name=".browsing.ByGenreActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".browsing.SuggestedMoviesActivity" />
        <activity android:name=".browsing.BrowsePersonsActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".details.FullDetailsActivity" />
        <activity android:name=".livetv.LiveTvGuideActivity" />
        <activity android:name=".browsing.GenericGridActivity" />
        <activity android:name=".browsing.BrowseRecordingsActivity" />
        <activity android:name=".validation.UnlockActivity" />
        <activity android:name=".details.PhotoPlayerActivity" />
        <activity android:name=".details.ItemListActivity" />
        <activity android:name=".playback.AudioNowPlayingActivity" />
        <activity android:name=".playback.ExternalPlayerActivity" />
        <activity
            android:name=".startup.DpadPwActivity"
            android:label="@string/title_activity_dpad_pw"></activity>
        <activity android:name="tv.emby.iap.PurchaseActivity" />

        <receiver android:name=".util.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".integration.RecommendationContentProvider"
            android:authorities="tv.emby.embyatv.recommendations"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity android:name=".playback.ExternalPlayerActivity"></activity>
    </application>

</manifest>