<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jellyfin.androidtv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Needed for ChannelManager on older devices (< API 23) -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".TvApp"
        android:allowBackup="false"
        android:banner="@drawable/app_logo"
        android:icon="@drawable/ic_jellyfin"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Jellyfin"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".browsing.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_logo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".startup.StartupActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_logo"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.SelectUserActivity"
            android:label="@string/title_activity_select_user"
            android:screenOrientation="landscape" />
        <activity
            android:name=".playback.PlaybackOverlayActivity"
            android:label="PlaybackOverlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.GenericFolderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.UserViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".startup.SelectServerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.CollectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.ByLetterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.ByGenreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".preferences.ui.PreferencesActivity"
            android:theme="@style/Theme.Jellyfin.Preferences" />
        <activity
            android:name=".browsing.SuggestedMoviesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.BrowsePersonsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".details.DetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".livetv.LiveTvGuideActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.GenericGridActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.BrowseRecordingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browsing.BrowseScheduleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".details.PhotoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".details.ItemListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".playback.AudioNowPlayingActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".playback.ExternalPlayerActivity" />
        <activity
            android:name=".startup.DpadPwActivity"
            android:label="@string/title_activity_dpad_pw"
            android:screenOrientation="landscape" />

        <receiver android:name=".util.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".details.ExpandedTextActivity"
            android:label="@string/title_activity_expanded_text"
            android:screenOrientation="landscape" />
        <activity android:name=".playback.nextup.NextUpActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>
