<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jellyfin.androidtv" >

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Needed for ChannelManager on older devices (< API 23) -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".TvApp"
        android:banner="@drawable/app_logo"
        android:icon="@drawable/app_icon_large"
        android:label="@string/app_name_release"
        android:largeHeap="true"
        android:theme="@style/Theme.Jellyfin"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".browsing.MainActivity"
            android:label="@string/app_name_release"
            android:logo="@drawable/app_logo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".startup.StartupActivity"
            android:label="@string/app_name_release"
            android:logo="@drawable/app_logo"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.SelectUserActivity"
            android:label="@string/title_activity_select_user" />
        <activity
            android:name=".playback.PlaybackOverlayActivity"
            android:label="PlaybackOverlayActivity" />
        <activity android:name=".browsing.GenericFolderActivity" />
        <activity android:name=".browsing.UserViewActivity" />
        <activity android:name=".startup.SelectServerActivity" />
        <activity android:name=".browsing.CollectionActivity" />
        <activity android:name=".browsing.ByLetterActivity" />
        <activity android:name=".browsing.ByGenreActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".browsing.SuggestedMoviesActivity" />
        <activity android:name=".browsing.BrowsePersonsActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".details.FullDetailsActivity" />
        <activity android:name=".livetv.LiveTvGuideActivity" />
        <activity android:name=".browsing.GenericGridActivity" />
        <activity android:name=".browsing.BrowseRecordingsActivity" />
        <activity android:name=".browsing.BrowseScheduleActivity" />
        <activity android:name=".details.PhotoPlayerActivity" />
        <activity android:name=".details.ItemListActivity" />
        <activity android:name=".playback.AudioNowPlayingActivity" />
        <activity android:name=".playback.ExternalPlayerActivity" />
        <activity
            android:name=".startup.DpadPwActivity"
            android:label="@string/title_activity_dpad_pw" >
        </activity>

        <receiver android:name=".util.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".details.ExpandedTextActivity"
            android:label="@string/title_activity_expanded_text" />
    </application>

</manifest>
