<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jellyfin.androidtv"
    android:installLocation="auto">

    <!-- Android TV Integration -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <!-- AccountManager permissions -->
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <!-- Generic permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="LeanbackUsesWifi" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Device feature requirements -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".JellyfinApplication"
        android:allowBackup="true"
        android:appCategory="video"
        android:banner="@drawable/app_banner"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_content"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon_round"
        android:theme="@style/Theme.Jellyfin"
        android:usesCleartextTraffic="true">

        <service
            android:name=".auth.service.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".integration.dream.LibraryDreamService"
            android:exported="true"
            android:permission="android.permission.BIND_DREAM_SERVICE">

            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:initOrder="1000"
            tools:node="merge">
            <meta-data
                android:name="org.jellyfin.androidtv.LogInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="org.jellyfin.androidtv.di.KoinInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="org.jellyfin.androidtv.SessionInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name=".integration.MediaContentProvider"
            android:authorities="${applicationId}.content"
            android:exported="true"
            android:initOrder="10" />

        <activity
            android:name=".ui.browsing.MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.startup.StartupActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity-alias
            android:name=".startup.StartupActivity"
            android:targetActivity=".ui.startup.StartupActivity" />

        <activity
            android:name=".ui.playback.PlaybackOverlayActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.GenericFolderActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.UserViewActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.CollectionActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.GroupedItemsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.preference.PreferencesActivity"
            android:theme="@style/Theme.Jellyfin.Preferences" />

        <activity
            android:name=".ui.browsing.SuggestedMoviesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.itemdetail.FullDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.livetv.LiveTvGuideActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.GenericGridActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.BrowseRecordingsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.browsing.BrowseScheduleActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.itemdetail.PhotoPlayerActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.picture.PictureViewerActivity" />

        <activity
            android:name=".ui.itemdetail.ItemListActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.playback.AudioNowPlayingActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.playback.ExternalPlayerActivity" />

        <activity
            android:name=".ui.playback.nextup.NextUpActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />

        <!-- Playback Rewrite - Temporary -->
        <activity android:name=".ui.playback.rewrite.PlaybackForwardingActivity" />
    </application>
</manifest>
