name: App Test

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Setup Java
        uses: actions/setup-java@860f60056505705214d223b91ed7a30f173f6142 # tag=v3
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: Run test task
        run: ./gradlew --build-cache --no-daemon --info test
