name: Gradle update

on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    if: github.repository == 'jellyfin/jellyfin-androidtv'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1
        with:
          repo-token: ${{ secrets.JF_BOT_TOKEN }}
